<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Geocaching PHP SDK Demo</title>
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
        <style>
        #tokenInformation {
            padding: 0;
            margin: 0;
        }
        #tokenInformation li {
            list-style-type: none;
        }
        code {
            font-size: 16px;
        }
        .footer {
            width: 100%;
            height: 80px;
            line-height: 80px;
            background-color: #f5f5f5;
        }
        .container form {
            margin-bottom: 1em;
        }
        h4 span {
            width: 5em;
            display: inline-block;
        }
        h4 button {
            vertical-align: middle;
            width: 60px;
        }
        footer ul {
            padding: 0;
            margin: 0;
            font-size: 1.2em;
        }
        footer ul li{
            display: inline;
        }
        </style>
    </head>
    <body class="d-flex flex-column" style="min-height: 100vh">
        <main role="main" class="container flex-fill">
        <h1>Geocaching PHP SDK Demo</h1>
        {% block main %}{% endblock %}
        </main>

        <!-- About Modal -->
        <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="aboutModalLabel">About</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-justify">

                        <h6><strong>Attribution:</strong></h6>
                        <p>
                            <span style="float: right; margin: 10px 0 0 14px;"><a href="https://www.geocaching.com"><img src="assets/live.png" /></a></span>
                            <small>Powered by the Geocaching API. Made possible through the support of Geocaching Premium Memberships, the API program gives third-party developers the opportunity to work with Geocaching HQ on a full suite of integrated products and services for the community. API developer applications are designed to work with the core services of geocaching.com and provide additional features to the geocaching community.</small>
                        </p>

                        <h6><strong>Privacy policy:</strong></h6>
                        <p>
                            <small>
                            Geocaching PHP SDK Demo is used to provide a demo of the Groundspeak API with PHP.<br />
                            Geocaching PHP SDK Demo never collect, use, or share your personal data.<br />
                            Geocaching PHP SDK Demo display only informations about your Geocaching account according the <a href="https://api.groundspeak.com/documentation#get-user">Get User method</a>.
                            </small>
                        </p>

                        <h6><strong>Contact:</strong></h6>
                        <p>
                            <small>
                            You can contact me for any questions, bugs, or suggestions by email (French or English only):
                            surfooo at gmail dot com
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <ul>
                    <li><a href="https://github.com/Surfoo/geocaching-php-sdk">GitHub Project</a> &middot;</li>
                    <li><a href="monitoring.php">Monitoring</a> &middot;</li>
                    <li><a href="#" data-toggle="modal" data-target="#aboutModal">About</a></li>
                </ul>
            </div>
        </footer>

        <script src="assets/jquery/jquery.min.js" charset="utf-8"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>
